{% extends 'base.html' %}

{% block title %}Categories{% endblock title %}

{% block content %}
<main>
    <div>
        <h1>Expense Categories</h1>
        <table>
          <thead>
            <th>Name</th>
            <th>Number of Receipts</th>
          </thead>
          <tbody>
            {% for category in category_object.all %}
            <tr>
                <td>{{ category.name }}</td>
                <td>{{ category.receipts.all|length }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
</main>
{% endblock content %}
